extends layout

block content
	#page
		header#bigphoto
			//- img(src="#{entry.photos[0].fields.file.url + bigPhotoParams}", alt="")
			//- - var bigPhotoParams = '?w=800&h=500&&q=85&fm=jpg&fl=progressive&fit=pad&bg=rgb:f2e7c9'
			- var bigPhotoParams = '' //-'?w=600&h=400'
			img(src="https:#{entry.photos[0].fields.file.url + bigPhotoParams}", alt="")

		aside#description
			p!= markdown(entry.shortDescription)

		aside#lines-to-buy
			h2= entry.name
			p#subheadline= entry.subname
			h3= entry.dominant
			
			span#price= '€ ' + entry.price
			button#cta-buy-now.snipcart-add-item.temp-inactive(
				data-item-id="1"
				data-item-name="#{entry.name.toUpperCase() + ' Luigi Borrelli'}"
				data-item-price="#{entry.price}"
				data-item-weight=""
				data-item-url="/products/#{slugme(entry.name.toLowerCase())}.html"
				data-item-description="#{entry.subname}") Coming soon
				//- data-item-description="#{entry.subname}") Buy now
			p#cta-subline= entry.buttonSubline
			
			table
				tr
					td.pyramid-level Top notes:
					td.pyramid-notes= entry.topNotes
				tr
					td.pyramid-level Heart notes:
					td.pyramid-notes= entry.heartNotes
				tr
					td.pyramid-level Base notes:
					td.pyramid-notes= entry.baseNotes
			
		#productBottomHalf
			#thumbs
				each photo in entry.photos
					- var thumbURL = asset(photo, {w: 200, h: 200, q: 100, fit: 'thumb', fm: 'jpg', fl: 'progressive', bg: 'rgb:fcfaf5'})
					img(src="https:#{thumbURL}", alt="")
				
				//- photo gallery switcher
				script.
					var thumbs = document.querySelectorAll("#thumbs > img");
					var bigPhoto = document.querySelector("#bigphoto > img");
					bigPhotoSwitcher();
					function bigPhotoSwitcher() {
						thumbs.forEach(function(thumb){
							thumb.addEventListener("click", function(){
								var thumbParamsPosition = thumb.src.indexOf('?');
								var newAddrForBig = thumb.src.slice(0, thumbParamsPosition);
								bigPhoto.src = newAddrForBig //- + '?w=600&h=400';
								console.log(bigPhoto.src)
							})
						})
					};

			article#on-product
				#read-more-cta
					a
						button Read More
						i.fa.fa-angle-down
				#white-gradient-when-collapsed
				#product-longread.lr-collapsed!= markdown(entry.longDescription)
				
				script.
					// open and collapse an ARTICLE on Product Page 
					var more = document.querySelector("#read-more-cta a");
					var longread = document.querySelector("#product-longread");
					var gradient = document.querySelector("#white-gradient-when-collapsed");
					more.addEventListener("click", function(){
						if (longread.classList.contains("lr-collapsed")) {
							more.innerHTML = '<button>Show Less</button><i class="fa fa-angle-up" aria-hidden="true"></i>';
						} else {
							more.innerHTML = '<button>Read More</button><i class="fa fa-angle-down" aria-hidden="true"></i>';
						}
						longread.classList.toggle("lr-collapsed");
						gradient.classList.toggle("gradient-off");
					});

		#productFooter
			include ./includes/_footer
	//- block extraFooter