extends layout

block content
	header#map

	- var contacts = contentful.contactPage[0]
	- office = {lat: contacts.showroomCoordinates.lat, lng: contacts.showroomCoordinates.lon}
	- mapPinURL = asset(contacts.mapPinImage)

	#contacts
		div
			h2= contacts.officeHeadline
			h3= contacts.officeCTA
			p= contacts.officeAddress
		div
			h2= contacts.emailHeadline
			h3= contacts.emailCTA
			a(href="mailto:#{contacts.emailAddress}") #{contacts.emailAddress}
	
	include ./includes/_footer

block extraFooter
	script.
		// Google Maps settings for Contacts page
		function initMap() {
			var luigiborrelli = {lat: #{office.lat}, lng: #{office.lng}};
			//- var luigiborrelli = {lat: 45.467432, lng: 9.198415};
			var map = new google.maps.Map(document.getElementById('map'), {
				zoom: 17,
				center: luigiborrelli,

				mapTypeControl: false,
				navigationControl: false, 
				scrollwheel: false,
				streetViewControl: false,
				zoomControlOptions: {
					position: google.maps.ControlPosition.LEFT_CENTER
				},

				styles: [
				{
					"stylers": [
					{
						"saturation": -85
					}
					]
				},
				{
					"featureType": "poi.attraction",
					"stylers": [
					{
						"visibility": "off"
					}
					]
				},
				{
					"featureType": "poi.business",
					"elementType": "labels.text",
					"stylers": [
					{
						"visibility": "off"
					}
					]
				}
				]

			});
			var marker = new google.maps.Marker({
				position: luigiborrelli,
				map: map,
				icon: '#{mapPinURL}'
				});
		}

	script(async, defer, src='https://maps.googleapis.com/maps/api/js?key=AIzaSyB510H3GIM2vaJHlTnumaT8L6dn95T_tMs&callback=initMap')
