extends layout

block content
	header#bigphoto
		img(src="img/cotton-2.png", alt="")

	aside#description
		p #[strong COTTON Luigi Borrelli] an aromatic interpretation of the popular fabric where values, philosophy of the Fashion House and part of its DNA were reflected. Feeling of purity and freshness that opens the composition is created with green energy of clary sage with bright sparks of anise – snowy-white shirt that you start a new day with can smell like this. Feeling of comfort and cosiness is created with vanilla-iris union in the heart of the fragrance. Soft velvety texture is underlined with elegant rose note together with woody-ambery base accord that brings in the element of luxury. Noble character and unique quality of materials are translated by the perfumer blurring shadows and edges of the composition with a furry musky brush.

	aside#lines-to-buy
		h2 Cotton
		p#subheadline 100 ml Eau de Parfum
		h3 Transparent and soothing harmony of rose, iris and vanilla
		
		span#price € 299
		button#cta-buy-now.snipcart-add-item(
			data-item-id="1"
			data-item-name="COTTON Luigi Borrelli"
			data-item-price="299"
			data-item-weight="10"
			data-item-url="http://luigiborrellibeauty.com/cotton.html"
			data-item-description="100 ml Eau de Parfum") Buy now
		p#cta-subline free delivery
		
		table
			tr
				td.pyramid-level Top notes:
				td.pyramid-notes bergamot, rose, lavender
			tr
				td.pyramid-level Heart notes:
				td.pyramid-notes orris, clary sage, oak moss
			tr
				td.pyramid-level Base notes:
				td.pyramid-notes amber, cedar, musk, vanilla, vetiver
		
	main
		section#thumbs
			img(src="img/cotton-1.jpg", alt="")
			img(src="img/cotton-2.jpg", alt="")
			img(src="img/package.jpg", alt="")

		article
			#read-more-cta
				a
					button Read More
					i.fa.fa-angle-down
			#white-gradient-when-collapsed
			#product-longread.lr-collapsed
				:marked
					The real olfactory equivalent of the House's signature style, Royal Collection of Fragrances by Luigi Borrelli symbolizes, after Fabio Borrelli, “universal moments in a man's life which he fills with sense and emotions” that are reflected in precious, pointedly masculine fragrances COTTON, VICUÑA WOOL and CASHMERE. Perfumers' expertise turned eponymous fabrics into aromatic symbols: COTTON incarnates a new beginning, VICUÑA WOOL refers to a brilliant celebration, and CASHMERE brings out the idea of respect for power. Bergamot is the ingredient that marks the whole collection, being a reference for traditional Eaux de Cologne and creating bright and uniquely Italian character.

					Considering the collection's design the brand also follows “masculine” approach: heavy transparent glass bottles are crowned with oily-shining metal stoppers with sharp edges and brand logo engraved. Thick dark-blue outer package originally closes with string and button, copying the style of Luigi Borrelli's tie packaging that is an accessory for real gentlemen. Strings are painted in different colours according to perfume.

					Cotton is one of the symbols of the Luigi Borrelli House, part of the brand's DNA. The seeming simplicity of the fabric becomes its advantage: cotton is all-purpose and it's gentle to one's skin; this is cotton that touches our skin more often than other fabrics. We confide to cotton clothes our comfort, and this confidence turns into the feeling of cosiness, precious to each one regardless gender, age and social status.
					
					COTTON Luigi Borrelli is an aromatic interpretation of the popular fabric where the values and philosophy of the Fashion House were reflected. Feeling of purity and freshness that opens the composition is created with green energy of clary sage with bright sparks of anise – snowy-white shirt that you start a new day with can smell like this. Feeling of comfort and cosiness is created with vanilla-iris union in the heart of the fragrance. Soft velvety texture is underlined with elegant rose note together with woody-ambery base accord that brings in the element of luxury. Noble character and unique quality of materials are translated by the perfumer blurring shadows and edges of the composition with a furry musky brush. COTTON recalls a touch of a thick, firm, but elegant Luigi Borrelli shirt. Feel its smoothness and softness, follow the form and fabric's curves with your fingers and touch tailors' craftsmanship reflected in this exquisite and sophisticated fragrance that embraces you with elegant caress.











