extends layout

block content
	- var banner = contentful.headBanner[0]

	header#banner(style="background-image: url(#{asset(banner.image)})")
		iframe(width="100%" height="100%" src="https://www.youtube.com/embed/pX3xiOnOtTc?rel=0&amp;controls=0&amp;showinfo=0?ecver=1" frameborder="0" allowfullscreen)

		//- #bannerGradient
			div
				h1= banner.headline
				p= banner.subline

	section#products
		each fragrance in contentful.products
			- var cardPhotoURL = asset(fragrance.cardPhoto)
			.product-card-box-gradient
				.product-card(style="background-image: url('#{cardPhotoURL}')")
					a(href="products/#{slugme(fragrance.name.toLowerCase())}.html")
						.product-card-content
							h2= fragrance.name
							p.p-card-subtext= fragrance.subname
							p.p-card-price= '€ ' + fragrance.price
							button.clear-cta Product Details

	include ./includes/_footer


		//- .product-card(style="background-image: url('img/cotton-card.png')")
		//- 	a(href="cotton.html")
		//- 		.product-card-content
		//- 			h2 Cotton
		//- 			p.p-card-subtext 100 ml Eau de Parfum
		//- 			p.p-card-price € 299
		//- 			button.clear-cta Add to cart
		//- .product-card(style="background-image: url('img/cashmere-card.png')")
		//- 	a(href="cashmere.html")
		//- 		.product-card-content
		//- 			h2 Cashmere
		//- 			p.p-card-subtext 100 ml Eau de Parfum
		//- 			p.p-card-price € 299
		//- 			button.clear-cta Add to cart
		//- .product-card(style="background-image: url('img/wool-card.png')")
		//- 	a(href="wool.html")
		//- 		.product-card-content
		//- 			h2 Vicuña Wool
		//- 			p.p-card-subtext 100 ml Eau de Parfum
		//- 			p.p-card-price € 299
		//- 			button.clear-cta Add to cart